h1 {

  text-align: center;
  font-size: 500%;
  font-style: oblique;
  margin-top: -10px;
  margin-bottom: -30px;
  color: #DF3A01;
}

h4 {

  text-align: center;
  width: 60%;
  font-style: italic;
  color: #FE642E;
}

.topnav {

  overflow: hidden;
  background-color: #2C3E50;
}

.topnav a {

  color: #E6B0AA;
  float: left;
  font-size: 17px;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.dropdown {

  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {

  font-size: 17px;
  border: none;
  outline: none;
  color: #E6B0AA;
  padding: 20px;
  background-color: #2C3E50;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {

  background-color: #EAEDED;
  color: red;
}

.dropdown-content {

  display: none;
  position: absolute;
  background-color: #2C3E50;
  z-index: 1;
}

.dropdown-content a {

  float: none;
  color: #E6B0AA;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {

  background-color: #EAEDED;
  color: red;
}

.topnav a.active {

  background-color: green;
  color: white;
}

.dropdown:hover .dropdown-content {

  display: block;
}

a {
  text-decoration: none;
}

a:hover {

  color: blue;
}

.imgstyle {

  width: 32%;
  padding: 10px 10px;
  text-align: center;
  float: left;
  font-size: 18pt;
}

.container {
  position: relative;
}

.container .content {

  width: 100%;
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #ffe05d;
  padding: 10px;
  height: 100%;
}

.formstyle {

  float: right;
  font-size: 16pt;
  text-align: left;
  width: 50%;
  color: #ff9642;
}

::placeholder {
  color: orange;
  opacity: 1;
}

input[type=text], [type=email], select {

  width: 60%;
  background-color: transparent;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: orange;
}

input[type=submit], [type=reset] {

  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover, [type=reset]:hover {

  background-color: #81DAF5;
}
